@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --font__size: 14px;
    --width-site: 1250px;

    //radius-main
    --radius-main: 8px;

    //bgr
    --bgr-main: #5356ff;
    --bgr-default: #22271d;

    //border-color

    // color
    --color__main: #000;
    --color__active: #378ce7;
    --color__default: #fff;
    --color__primary: #22271d;
    --color__text: #ffffff8c;
    --color__title: #5356ff;
    --color__description: #5f6a77;

    // family
    --font-family-title: 'Space Grotesk', sans-serif;

    //bgr
    --bgr-linear-gradient-main: linear-gradient(130deg, rgba(83, 86, 255, 1) 0%, rgba(55, 140, 231, 1) 47%, rgba(103, 198, 227, 1) 100%);

    // header
    --header__gap: 28px;
    --header__width: 1250px;

    // distance
    --distance-main: 80px;

    //footer
    --footer-bgr: #181a0f;
}

// #5356FF
// #378CE7
// #67C6E3
// #DFF5FF
