#site__banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: var(--distance-main);

    .site__banner-icon {
        position: absolute;
        width: 60vw;
        z-index: 0;
        top: 60px;
        &.left {
            left: -30%;
        }

        &.right {
            right: -30%;
            transform: rotateY(189deg);
        }
    }

    .site__banner-box {
        height: 400px;
        width: 800px;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
}
