#site__banner-bottom {
    border-top: 1px solid #0000001a;
    width: 100%;
    margin-top: var(--distance-main);
    .site__banner-bottom-box {
        position: relative;
        .site__banner-bottom-box-item {
            padding: 40px 20px 80px;
            &.left {
                width: 60%;
            }

            &.right {
                border-left: 1px solid #0000001a;
                width: 40%;
            }
        }
    }
}
