//flex
.d-flex {
    display: flex;
}

.flex-column {
    flex-flow: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}
